[user]
	name = Elan Medoff
	email = 54599408+ElanMedoff@users.noreply.github.com
[color]
	ui = auto
[pull]
  rebase = false
[core]
  ; https://stackoverflow.com/a/21574502
	editor = !bash -c '"echo \"$NVIM_CMD\";"'
