[submodule "neovim/.config/nvim"]
	path = neovim/.config/nvim
	url = https://github.com/ElanMedoff/neovim-config
[submodule "tmux/.config/tmux"]
	path = tmux/.config/tmux
	url = https://github.com/ElanMedoff/tmux-config
