[submodule "tmux/.config/tmux"]
	path = tmux/.config/tmux
	url = git@github.com:ElanMedoff/tmux-config.git
[submodule "neovim/.config/nvim"]
	path = neovim/.config/nvim
	url = git@github.com:ElanMedoff/neovim-config.git
